@model SmallMealPlan.Web.Model.Home.LoginViewModel

<h1>Login</h1>

<form action="/signin" method="post">
    <p>
        Sign in using SmallAuth:
        <input type="submit" value="Login"/>
    </p>
</form>