@model SmallMealPlan.Web.Model.Home.LoginViewModel

<h1>Login</h1>

<form action="/signin" method="post">
    <p>
        Sign in using SmallAuth:
        <button type="submit">Login</button>
    </p>
    @Html.AntiForgeryToken()
</form>