@model SmallMealPlan.Web.Model.Home.PlannerViewModel

<p>
    Add meal for Monday 19th April 2020
</p>
<div class="smp-planner-add-header">
    <span class="selected" data-select=".smp-planner-add-recent">Saved / Recent meals</span>
    <span data-select=".smp-planner-add-new">Add new meal</span>
</div>
<div class="smp-planner-add-recent">
    <ul class="smp-planner-list-meal">
        <li class="smp-planner-list-meal">
            <div><img src="/images/expand.png" class="smp-planner-list-meal-oc" height="18" width="18" /></div>
            <div>
                <div><a href="#">Pasta bake</a></div>
                <div class="smp-planner-list-meal-details">
                    <div>Ingredients:</div>
                    <ul>
                        <li>Pasta bake sauce</li>
                        <li>90g Pasta</li>
                    </ul>
                    <div>Notes:</div>
                    <div>Easy does it</div>
                </div>
            </div>
        </li>
        <li class="smp-planner-list-meal">
            <div><img src="/images/expand.png" class="smp-planner-list-meal-oc" height="18" width="18" /></div>
            <div>
                <div><a href="#">Pie</a></div>
                <div class="smp-planner-list-meal-details">
                    <div>Ingredients:</div>
                    <ul>
                        <li>Veg pie</li>
                        <li>Swede</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="pagination-active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>
<div class="smp-planner-add-new">
    <div>Description:</div>
    <input type="text" class="smp-planner-add-new-description" />

    <div>Ingredients:</div>
    <textarea class="smp-planner-add-new-ingredients" wrap="off"></textarea>

    <div>Notes:</div>
    <textarea class="smp-planner-add-new-notes" wrap="off"></textarea>

    <p><button>OK</button> <button>Cancel</button></p>
</div>
